numpy
matplotlib
scipy
seaborn
torch
torchvision
huggingface
pipreqs
cookiecutter
onnx
onnxruntime
optuna
scikit-learn
flake8
isort
mypy
dvc
dvc[gdrive]
dvc[gs]
hydra-core
torch_tb_profiler
wandb
coverage
pre-commit
google-api-python-client
ptflops
pytorch-lightning
pandas
timm

# App Requirements
fastapi>=0.68.0,<0.69.0
uvicorn>=0.15.0,<0.16.0
python-multipart